<widget	xmlns			= "http://www.w3.org/ns/widgets"
		xmlns:gap		= "http://phonegap.com/ns/1.0"
		xmlns:android	= "http://schemas.android.com/apk/res/android"
		id				= "com.twodio.superttt"
		version			= "1.0.1">
	<name>Super TicTakToe</name>
	<description>
		Super Tic Tac Toe Game
	</description>
	<author email="support@2dio.com" href="http://2dio.com">
		2Dio, Inc.
	</author>
	<content src="index.html" />

	<gap:platform name="ios" />
	<gap:platform name="android" />

	<preference name="phonegap-version" value="cli-9.0.0" />

	<!-- Android SDK Version -->
	<preference name="android-minSdkVersion" value="19" />
	<preference name="android-cdvCompileSdkVersion" value="28" />
	<!-- iOS Version -->
	<preference name="deployment-target" value="6.1" />

	<preference name="orientation" value="portrait" />
	<gap:config-file platform="ios" parent="UISupportedInterfaceOrientations" mode="replace">
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
	</gap:config-file>

	<preference name="fullscreen" value="false" />

	<preference name="target-device" value="universal" />
	<preference name="detect-data-types" value="false" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="KeepRunning" value="true" />

	<preference name="webviewbounce" value="false" />
	<preference name="UIWebViewBounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />

	<preference name="BackgroundColor" value="0xff333333"/>
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="EnableViewportScale" value="true"/>

	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />

	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="AutoHideSplashScreen" value="false" />

	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<access origin="*" />
	<allow-intent href="*" />
	<gap:plugin name="cordova-plugin-splashscreen" source="npm" />
	<gap:plugin name="cordova-plugin-google-analytics" source="npm">
		<variable name="GMS_VERSION" value="11.0.1" />
	</gap:plugin>
	<gap:plugin name="cordova-plugin-statusbar" source="npm" />
	<gap:plugin name="cordova-plugin-device" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
	<gap:plugin name="cordova-plugin-network-information" source="npm" />
	<gap:plugin name="cordova-plugin-appversion" source="npm" />
	<gap:plugin name="phonegap-plugin-push" source="npm">
		<variable name="FCM_VERSION" value="11.0.1" />
	</gap:plugin>
	<!--<gap:plugin name="admob-google-cordova" source="npm">-->
	<gap:plugin name="com-admob-plugin" source="npm">
		<variable name="PLAY_SERVICES_VERSION" value="11.0.1" />
	</gap:plugin>
	<gap:plugin name="cordova-plugin-admobpro-firebase" source="npm">
		<variable name="PLAY_SERVICES_VERSION" value="11.0.1" />
		<variable name="ADMOB_APP_ID" value="" />
	</gap:plugin>
	<platform name="android">
		<gap:plugin name="cordova-plugin-ad-chartboost" source="npm"/>
	</platform>
	<platform name="ios">
		<plugin spec="https://github.com/floatinghotpot/cordova-plugin-chartboost.git" source="git" />
	</platform>

	<platform name="android">
		<resource-file src="google-services.json" target="app/google-services.json" />
	</platform>

	<feature name="http://api.phonegap.com/1.0/network" />

	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>

	<!--<feature name="Keyboard">
		<param name="ios-package" value="IonicKeyboard" onload="true" />
	</feature>-->

	<!-- Keyboard setting for Android -->
	<gap:config-file platform="android" parent="/manifest/application">
			<activity android:windowSoftInputMode="adjustPan" />
	</gap:config-file>

	<!-- Default Icon/Splash -->
	<icon src="icon.png" />
	<gap:splash src="splash.png" /> <!-- ??? *Breaks iOS build/preferences sometimes ??? -->

	<!-- Android Icons -->
	<icon src="img/icons/android/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="img/icons/android/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="img/icons/android/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="img/icons/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="img/icons/android/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="img/icons/android/xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi" />

	<!-- Android Splash -->
	<gap:splash src="img/splash/android/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="img/splash/android/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="img/splash/android/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="img/splash/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<gap:splash src="img/splash/android/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<gap:splash src="img/splash/android/landscape-ldpi.png" gap:platform="android" gap:qualifier="land-ldpi" />
	<gap:splash src="img/splash/android/landscape-mdpi.png" gap:platform="android" gap:qualifier="land-mdpi" />
	<gap:splash src="img/splash/android/landscape-hdpi.png" gap:platform="android" gap:qualifier="land-hdpi" />
	<gap:splash src="img/splash/android/landscape-xhdpi.png" gap:platform="android" gap:qualifier="land-xhdpi" />
	<gap:splash src="img/splash/android/landscape-xxhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
</widget>